@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
/* In your index.css */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

/* src/styles/fonts.css */
@font-face {
  font-family: 'Kugile';
  src: url('/src/assets/Kugile.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Reverse spinning animation */
.animate-spin-reverse {
  animation: spin-reverse 3s infinite linear;
}

/* Normal spinning animation */
.animate-spin {
  animation: spin 3s infinite linear;
}

/* Pulsing animation for the logo */
@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.9;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.9;
  }
}

.animate-pulse {
  animation: pulse 2s infinite ease-in-out;
}



